<section id="banner">
  <article>
    <%= image_tag 'concert2.jpeg', class: "music-banner" %>
    <div class="inner">
      <h2><a href="#">Revue Music</a></h2>
    </div>
  </article>
  <article>
    <%= image_tag 'microphone2.jpeg', class: "comedy-banner" %>
    <div class="inner">
      <h2><a href="#">Revue Comedy</a></h2>
    </div>
  </article>
  <article>
    <%= image_tag 'microphone.jpeg', class: "poetry-banner" %>
    <div class="inner">
      <h2><a href="#">Revue Poetry</a></h2>
    </div>
  </article>
  <article>
    <%= image_tag 'theater.jpeg', class: "theater-banner" %>
    <div class="inner">
      <h2><a href="#">Revue Theater</a></h2>
    </div>
  </article>
</section>
<section id="three" class="wrapper style2">
  <div class="inner">
    <h2 class="venues-title">Venues</h2>
    <%= link_to 'Add New Venue', new_venue_path, class: "button add-venue", role: "button" %>
    <div>
      <%= form_tag venues_path, method: 'get', class: 'search' do %>
        <%= text_field_tag :search, params[:search], placeholder: 'Search Venues', class: 'search-bar' %>
        <%= submit_tag 'Search', name: nil, class: 'search-submit' %>
      <% end %>
    </div>
    <div class="posts venues">
      <ul class="venue-feed">
      </ul>
    <div class="posts venues" id="venue-feed">
    </div>
  </div>
</section>
