<body>

  <section id="banner">
    <article>
      <img src="http://static.highsnobiety.com/wp-content/uploads/2016/02/03011837/usher-chains-video-00.jpg" alt="" />
      <div class="inner">
        <h2><a href="#">Ush</a></h2>
      </div>
    </article>
    <article>
      <img src="http://images4.mtv.com/uri/mgid:uma:video:mtv.com:988024?width=657&height=370&crop=true&quality=0.85" alt="" />
      <div class="inner">
        <h2><a href="#">Bey</a></h2>
      </div>
    </article>
    <article>
      <img src="https://static01.nyt.com/images/2015/10/25/t-magazine/25tmag-11well_rihanna-t_CA0/25tmag-11well_rihanna-t_CA0-articleLarge-v2.jpg"  alt="" />
      <div class="inner">
        <h2><a href="#">RiRi</a></h2>
      </div>
    </article>
  </section>
  <section id="three" class="wrapper style2">
    <div class="inner">
      <h2>Venues</h2>
      <div>
        <%= form_tag venues_path, method: 'get' do %>
          <%= text_field_tag :search, params[:search], placeholder: 'Search Venues' %>
          <%= submit_tag 'Search', name: nil %>
          <% end %>
        </div>
      <div class="posts venues">
        <ul>
          <% @venues.each do |venue| %>
            <section class="post venue">
              <span class="image"><img src="http://www.tetongravity.com/images/ci-images/kickapps/PHOTO_6806949_75233_8288743_ap.jpg" alt="" /></span>
              <div class="content">
                <h3><strong><a href="<%= venue_path(venue) %>"><%= venue.name %></a></strong></h3>
                <h3><%= venue.city %>, <%= venue.state %></h3>
                <p><%= venue.description %></p>
                <ul class="actions">
                  <li><a href="<%= venue_path(venue) %>" class="button">More</a></li>
                </ul>
              </div>
            </section>
          <% end %>
        </ul>
      </div>
    </div>
  </section>
</body>

<%= link_to 'Add New Venue', new_venue_path, class: "button", role: "button" %>
