<div class="venue">
  <%= image_tag(@venue.photo, class: "venue-photo") %>
  <h3><%= @venue.name %></h3>
  <h3><%= @venue.category %></h3>
  <div>
  <% if user_signed_in? && (@venue.user == current_user  || current_user.admin) %>
    <%= link_to "Edit Venue", edit_venue_path(@venue) %>
    <%= link_to "Delete Venue", venue_path(@venue), method: :delete %>
  <% end %>
  </div>
<% if @reviews %>
  <h4>Reviews:</h4>
  <ul>
    <% @reviews.each do |review| %>
    <div class="review">
        Rating: <%= review.rating %>
        <p class="review-description">
          Description: <%= review.description %>
        </p>
        <br />
        <% if user_signed_in? && (review.user == current_user || current_user.admin) %>
          <%= link_to "Edit Review", edit_venue_review_path(@venue, review) %>
          <br />
          <%= link_to "Delete Review", venue_review_path(@venue, review), method: :delete %>
          <br />
          <% end %>
            <%= link_to "", review_votes_path(review, value: 1), class: "upvote fa fa-thumbs-up", data: { venueid: "#{@venue.id}", reviewid: "#{review.id}" } %>
          <p class="total-votes-<%= review.id %>">
            <%= review.sum_votes %>
          </p>
          <span class="downvote-<%= review.id %>">
            <%= link_to "", review_votes_path(review, value: -1), class: "downvote fa fa-thumbs-down", data: { venueid: "#{@venue.id}", reviewid: "#{review.id}" } %>
          </span>
      </div>
    <% end %>
  </ul>
<% end %>

<%= link_to "Add New Review", new_venue_review_path(@venue), class: "new-review" %>
</div>
