<div class='container'>
<div class='uniform row'>
  <div class="6u venue-show-page">
    <%= image_tag(@venue.photo, class: "venue-photo") %>
    <h3><%= @venue.name %></h3>
    <h5><%= @venue.category %></h5>
    <h6><%= @venue.street %> <%= @venue.city %>, <%= @venue.state %></h6>
    <h6 class='venue-description'><%= @venue.description %></h6>
    <% if user_signed_in? && (@venue.user == current_user  || current_user.admin) %>
      <%= link_to "Edit Venue", edit_venue_path(@venue) %>
      <%= link_to "Delete Venue", venue_path(@venue), method: :delete %>
    <% end %>
  </div>
    <% if @reviews %>
    <div class="6u">
      <h4>Reviews for <%= @venue.name %>:</h4>
        <% @reviews.each do |review| %>
        <div class='review'>
            Rating: <%= review.rating %>
            <p class="review-description">
              Description: <%= review.description %>
            </p>
            <br />
            <% if user_signed_in? && (review.user == current_user || current_user.admin) %>
              <%= link_to "Edit Review", edit_venue_review_path(@venue, review) %>
              <%= link_to "Delete Review", venue_review_path(@venue, review), method: :delete %>
              <% end %>
              <br />
              <%= link_to "", review_votes_path(review, value: 1), class: "upvote fa fa-thumbs-up", id: 'upvote', data: { venueid: "#{@venue.id}", reviewid: "#{review.id}" } %>
              <%= link_to "", review_votes_path(review, value: -1), class: "downvote fa fa-thumbs-down", data: { venueid: "#{@venue.id}", reviewid: "#{review.id}" } %>
              <p id='voting-number' class="total-votes-<%= review.id %>"><%= review.sum_votes %></p>
            </div>
        <% end %>
        <%= link_to "Add New Review", new_venue_review_path(@venue), class: "new-review" %>
      <% end %>
    </div>
  </div>
</div>
