<!DOCTYPE html>
<html>
<head>
  <title>Revue</title>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <%= stylesheet_link_tag    'main', media: 'all' %>
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>
  <%= javascript_include_tag 'main' %>
  <%= javascript_include_tag 'jquery.dropotron.min' %>
  <%= csrf_meta_tags %>
  <noscript><%= stylesheet_link_tag    'noscript', media: 'all' %></noscript>
</head>
<body>
    <header id="header" class="alt">
      <h1><a href="index.html">Revue</a></h1>
      <nav id="nav">
        <ul>
          <li><a href="index.html">Home</a></li>
          <li>
            <a href="#" class="submenu fa-angle-down">Page Layouts</a>
            <ul>
              <li><a href="left-sidebar.html">Left Sidebar</a></li>
              <li><a href="right-sidebar.html">Right Sidebar</a></li>
              <li><a href="no-sidebar.html">No Sidebar</a></li>
              <li>
                <a href="#">Submenu</a>
                <ul>
                  <li><a href="#">Option One</a></li>
                  <li><a href="#">Option Two</a></li>
                  <li><a href="#">Option Three</a></li>
                  <li><a href="#">Option Four</a></li>
                </ul>
              </li>
            </ul>
          </li>
          <li><a href="elements.html">Elements</a></li>
          <li><a href="#" class="button">Sign Up</a></li>
        </ul>
      </nav>
    </header>


    <%= yield %>

<!--  -->
<div class="container">
  <% flash.each do |key, value| %>
    <div class="alert alert-<%= key %>"><%= value  %></div>
  <% end %>
</div>

  <% if user_signed_in? %>
    <%= link_to "Sign Out", destroy_user_session_path, method: :delete %>
    <%= link_to "Edit Account", edit_user_registration_path %>

  <% else %>
    <%= link_to "Sign Up", new_user_registration_path %>
    <%= link_to "Sign In", new_user_session_path %>
  <% end %>

  <div class="container">
      <% flash.each do |key, value| %>
        <div class="alert alert-<%= key %>"><%= value  %></div>
      <% end %>
    </div>



</body>
</html>
